<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-list *ngIf="device">
    <ion-item>
      <ion-label>UUID</ion-label>
      <ion-note>{{ device.uuid }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>NAME</ion-label>
      <ion-note>{{ device.name }}</ion-note>
    </ion-item>
  </ion-list>

  <!-- <div class="ion-padding" *ngIf="false">
    <glcp-text-shell [data]="''" animation="bouncing"></glcp-text-shell>
    <glcp-text-shell [data]="''" animation="gradient"></glcp-text-shell>


    <glcp-aspect-ratio [ratio]="{w: 1, h: 1}">
      <glcp-image-shell class="user-image" animation="spinner" [src]="''" [spinnerIconName]="'circular'"></glcp-image-shell>
    </glcp-aspect-ratio>
  </div> -->
</ion-content>
